*{
	box-sizing: border-box;
	/*padding: 0;
	margin: 0;*/
}

html {
	font-family: 'Roboto Slab', serif;
	font-family: 'Raleway', sans-serif;
}

body {
    /*text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	background: url("https://image.freepik.com/free-vector/abstract-geometric-pattern-background_1319-242.jpg");*/
	/*Burada background resmi önüne opacity 0.6 bir renk ekleyip koymak istedim olmadı*/
	padding: 0px;
	margin: 0;
    height:auto;
	}

h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	background-color: teal;
	color: white;
	padding: 10px;
	text-align: center;	
	letter-spacing: 1px;
	margin: 0;
}

/*img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;
	background-color: teal;
	border-radius: 25px;
	border-left: 30px solid teal;
	border-right: 30px solid teal;
	opacity: 0.9;*/
}

header{
	margin: 0 auto;
	width: 100%; /*Bu konuda problemim var!!! */
	position: fixed;
	top: 0px;
	z-index: 2;
	height: auto;
	display: block;
}

.toplinks {
	background-color: teal;
	padding: 20px;
	margin: auto 0px;
	height: 100%;
	text-align: center;
}

.toplinks a {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 0.625em;
	text-transform: uppercase; 
	color: white;
	margin: 5px 10px;
  	text-decoration: none;
	letter-spacing: 1px;
}

.toplinks a:hover {
	font-weight: bold;
	color: red;
}

/*.toplinks .contact {
	visibility: hidden;
}*/

.img0 {
	height: 30px;
	width: 30px;
	background-color:white;
	border-style: solid;
	border-color: white;
	border-width: 0px;
}
	
.internal_links {
	font-size: 0.8em;
	border: 2px solid teal;
	border-radius: 5px;
	border-right: 12px solid teal;
	margin: 30px 0;
    position: relative;
}

.internal_links a {
    text-decoration: none;
}

.internal_links a:hover {
	color: red;
	font-weight: 600;
}
.internal_links .div1 {
	float: left;
	margin: 9px 0px auto 17px;
	text-align: center left;
	letter-spacing: 4px;
	/*background-color: black;*/
}

h1 {
	text-transform: uppercase; 
	color: darkcyan;	
}

.internal_links .div2 {
    margin-right: 10px;
    /*background-color: red;*/
	letter-spacing: 1px;
}

a {
	color: teal;
}

/*#cycling, #cyclesport {
	height: 1000px;
	overflow: scroll;
}*/

#container {
	height: 1700px;
}

#introduction {
	background: linear-gradient(rgba(129, 197, 222,0.25), rgba(129, 197, 222,0.25)), url("https://wallpaper-house.com/data/out/8/wallpaper2you_254884.jpg");
    background-size: cover;
	background-position: top center;
	height: 25%;
	width: 100%;
	}

#cycling {
	background-image: linear-gradient(rgba(129, 197, 222,0.25), rgba(129, 197, 222,0.25)), 
	url("https://wallpaper-house.com/data/out/8/wallpaper2you_254861.jpg");
    background-size: cover;
	background-position: center;
	height: 25%;
	width: 100%;
}

#cyclesport {
	background: linear-gradient(rgba(129, 197, 222,0.25), rgba(129, 197, 222,0.25)), url("https://res.cloudinary.com/simpleview/image/upload/c_fill,f_auto,h_627,q_65,w_1200/v1/clients/norway/aa099db0_2134_4b29_bcf6_f423f8729c7a_c093a15e-0775-4297-b2a9-70ce7bdc5327.jpg");
    background-size: cover;
	background-position: center;
	height: 25%;
	width: 100%;
}	

#sitecontent {
	background: linear-gradient(rgba(129, 197, 222,0.25), rgba(129, 197, 222,0.25)), url("https://cdn-cyclingtips.pressidium.com/wp-content/uploads/2013/10/PTR0929920.jpg");
    background-size: cover;
	background-position:  center;
	height: 25%;
	width: 100%;
}

.content p {
	/*border: 3px solid white;
	position: relative;
	top: 50px;
	margin: 0 auto;*/
	/* Yazıların genişliğini küçültemedim*/
	font-family: 'Raleway', serif;
	font-size: 0.95em;
	font-weight: 300;
	letter-spacing: 0.5px;
	color: white;
	width: auto;
	margin-left: 20px;
	margin-top: 30px;
	margin-right: 450px;
	min-width: 200px;
	line-height: 1.4;
}

.share {
	/*border: 0.5px solid LightGrey;*/
	padding: 20px 0px;
	position: relative;
	text-align: center;
	width: 100%;
	background-color: teal; /*rgb (152, 217, 208);*/
}

.share a {
	background: teal;
	color: white;
	border: 0.5px teal solid;
	border-radius: 7px;
	border-style: outset;
	display: inline-block;
	margin: 10px;
	padding: 15px;
	text-decoration: none;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: 300;
}

.share a:hover {
	background: red;
	color; white;
	border: 0.5px red solid;
	border-radius: 15px;
	/*animation: ease;*/
}

footer {
	position: fixed;
	font-size: 0.5em;
	opacity: 0.5;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: gray;
	text-align: left;
}

.construction h1 {
	text-align: center;
}

@media only screen and (max-width: 768px) {
	html {
		min-width: 100px;
	}
	body {
		min-width: 100px;
	}
	.content p {
		width: 80%;
	}
	.internal_links .div1 {
	    float: none;
	}
	.internal_links .div2 {
		text-align: center;
	}
	.toplinks a {
		display: block;
	}
}